data/
.vscode/
__pycache__/
.tmp/
*.pyc
*.pyo
*.pyd
*.pyi
*.pyw
*.pyz
*.egg-info
*.egg
*.manifest
*.spec
*.whl
*.dist-info
*.dist
*.egg-info
*.egg
*.manifest
*.spec
*.whl
*.dist-info
*.dist
*.egg-info
*.egg
*.manifest
*.spec
*.whl
*.dist-info
*.dist
*.egg-info
*.egg
*.manifest
*.spec
*.whl
*.dist-info
*.dist